{% extends "master.html" %}
{% block content %}

    <div class="site-section"  data-aos="fade">
      <div class="container-fluid">
        <div class="row mb-5">
          <div class="col-md-7">
            <img src="images/img_2.jpg" alt="Images" class="img-fluid">
          </div>
          <div class="col-md-4 ml-auto">
            <h3 class="text-white">About me</h3>
            <p>Hello,</p>
​
            <p>my name is Ivka. I am photographer,  cinematographer and also I working with audiovisual work and theatre.</p>
​
            <p>I am a person who is empathetic, communicative, reliable, with an active attitude to work. I consider myself a flexible person who is able to work under stressful conditions. I am a creative person and a positive thinker. My behavior is congenial and I like to work with people.</p>
            <p>I am interested in meeting new people and develop my skills. I prefer challenges and I am not afraid of new things and task.  I consider it a challenge and an opportunity to explore and identify ways of improving myself.</p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
