{% extends "master.html" %}
{% block content %}

    <div class="site-section"  data-aos="fade">
      <div class="container">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-5">
              <div class="col-12 ">
                <h2 class="site-section-heading text-center">Contact</h2>
              </div>
            </div>
          </div>

        </div>
        
        <div class="row">
          <div class="col-lg-7 mb-5 text-justify">
            <p>Hello,</p>
​
            <p>my name is Ivka. I&nbsp;am photographer, cinematographer and I&nbsp;am also working with audiovisual work and theater.</p>
​
            <p>I am a person who is empathetic, communicative, reliable, with an active attitude to work. I&nbsp;consider myself a flexible person who is able to&nbsp;work under stressful conditions. I&nbsp;am a creative and positive person. My behavior is congenial and I&nbsp;like to work with people.</p>
​
            <p>I am interested in meeting new people and develop my skills. I&nbsp;prefer challenges and I&nbsp;am not afraid of new things and task.  I&nbsp;consider it a&nbsp;challenge and an opportunity to&nbsp;explore and identify ways of improving myself.</p>
          </div>
          <div class="col-lg-4 ml-auto">
            <div class="mb-3">
              <p>
                <img src="{{ url_for('static', filename='img/iv.jpg') }}" alt="" class="img-fluid" />
              </p>

              <p class="mb-0 font-weight-bold text-white">Phone</p>
              <p class="mb-4">+420 607 401 903</p>

              <p class="mb-0 font-weight-bold text-white">Email Address</p>
              <p class="mb-0"><a href="mailto:ivka.tresova@gmail.com">ivka.tresova@gmail.com</a></p>


            </div>

          </div>
        </div>
      </div>
    </div>

{% endblock %}
