{% extends "master.html" %}
{% block content %}
    <div class="site-section"  data-aos="fade">
      <div class="container-fluid">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-5">
              <div class="col-12 ">
                  <h2 class="site-section-heading text-center">{{ gallery.name }}</h2>
              </div>
            </div>
          </div>

        </div>
        <div class="row" id="lightgallery">

{% for image in gallery.images %}
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 item" data-aos="fade" data-src="{{ image.link }}&raw=1" data-sub-html="">
              <a href="#"><img src="{{ image.link }}&raw=1" alt="{{ image.name }}" class="img-fluid"></a>
          </div>
{% endfor %}

        </div>
      </div>
    </div>
{% endblock %}
