{% extends "master.html" %}
{% block content %}

    <div class="site-section"  data-aos="fade">
      <div class="container">

        <div class="row justify-content-center">

          <div class="col-md-7">
            <div class="row mb-5">
              <div class="col-12 ">
                <h2 class="site-section-heading text-center">Video</h2>

                <br />
                <h4 class="text-center">UNIVERZITNI OSMY MENDELU BRNO</h4>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/gW7ReV5f6oQ?rel=0"
                    allowfullscreen>
                  </iframe>
                </div>

                <br />
                <h4 class="text-center">JCMM PHD talent</h4>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/yIkEwVdSqwA?rel=0"
                    allowfullscreen>
                  </iframe>
                </div>

                <br />
                <h4 class="text-center">Tomáš Palucha - Ursiny (Resistor Sound Session)</h4>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/RSFjPzNZn4U?rel=0"
                    allowfullscreen>
                  </iframe>
                </div>

                <br />
                <h4 class="text-center">Provázek dvůr</h4>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/ZO4kpjrRwxs?rel=0"
                    allowfullscreen>
                  </iframe>
                </div>

                <br />
                <h4 class="text-center">Běh Rektorky</h4>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/vQvpY3j0wRE?rel=0"
                    allowfullscreen>
                  </iframe>
                </div>

                <br />
                <h4 class="text-center">MENDELU and LSU Design Workshop</h4>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item"
                    src="https://www.youtube.com/embed/B0JhMWYv6RA?rel=0"
                    allowfullscreen>
                  </iframe>
                </div>

              </div>
            </div>
          </div>

        </div>
        
      </div>
    </div>

{% endblock %}
